<footer>
    <p style="display: flex; align-items: center;">
      Themes:
      <button id="default" class="tb" style="border: 1px solid black; background: linear-gradient(to right, var(--default-link-color) 0%, var(--default-link-color) 50%, var(--default-bg-color) 50%, var(--default-bg-color) 100%);" onclick="o(this)" aria-label="Default"></button>
      <button id="red" class="tb" style="border: 1px solid black; background: linear-gradient(to right, var(--red-link-color) 0%, var(--red-link-color) 50%, var(--red-bg-color) 50%, var(--red-bg-color) 100%);" onclick="o(this)" aria-label="Red"></button>
      <button id="orange" class="tb" style="border: 1px solid black; background: linear-gradient(to right, var(--orange-link-color) 0%, var(--orange-link-color) 50%, var(--orange-bg-color) 50%, var(--orange-bg-color) 100%);" onclick="o(this)" aria-label="Orange"></button>
      <button id="green" class="tb" style="border: 1px solid black; background: linear-gradient(to right, var(--green-link-color) 0%, var(--green-link-color) 50%, var(--green-bg-color) 50%, var(--green-bg-color) 100%);" onclick="o(this)" aria-label="Green"></button>
      <button id="yellow" class="tb" style="border: 1px solid black; background: linear-gradient(to right, var(--yellow-link-color) 0%, var(--yellow-link-color) 50%, var(--yellow-bg-color) 50%, var(--yellow-bg-color) 100%);" onclick="o(this)" aria-label="Yellow"></button>
      <button id="mono" class="tb" style="border: 1px solid black; background: linear-gradient(to right, var(--mono-link-color) 0%, var(--mono-link-color) 50%, var(--mono-bg-color) 50%, var(--mono-bg-color) 100%);" onclick="o(this)" aria-label="Mono"></button>
    </p>
    <div>{{ site.title | escape }}</b> © 2019 - {{ site.time | date: '%Y' }}</div>
    <div>
      A member of <a target="blank" href="https://512kb.club">512KB Club</a> | <a href="#menu">Top of page&#8593</a>
    </div>
    <script type="text/javascript">
      function f() {
        const t = localStorage.getItem('theme') ? localStorage.getItem('theme') : 'default';
        const buttons = document.querySelectorAll('.tb');
        buttons.forEach((button) => {
          if (button.getAttribute('id') === t) {
            button.style.setProperty('transform', 'scale(1.5)');
          } else {
            button.style.removeProperty('transform');
          }
        });
      }
      f();
      function o(d) {
        const color = d.getAttribute("id");
        u(color);

        localStorage.setItem('theme', color);
        f();
      }
    </script>
  </footer>
