<header class="avenir">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {%- if titles_size > 0 -%}
      <nav class="db bb b--light-silver dt-l w-100 border-box pa3 ph5-l">
        <a class="db dtc-l v-mid mid-gray link underline-hover w-100 w-25-l tc tl-l mb2 mb0-l f3-l" href="/" title="Home">
          <img src="/favicon.png" class="v-mid w2 h2 br-100" alt="Site Name"> Jason's Notes
        </a>

        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title and my_page.autogen == nil -%}
            <a class="link underline-hover dark-gray f6 f5-l dib mr3 mr4-l" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
</header>
