---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

p, ul {
  overflow-x: auto;
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
  color: #f8f8f2;
  background-color: #272822;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

a {
  //color: #19a974;
  color: darkred;
}
a:hover {
  color: black;
}

.sticky {
  position: sticky;
  position:  -webkit-sticky;
  top: 0;

  @include media-query($on-laptop) {
    position: relative;
  }
}