---
layout: compress
---

<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main aria-label="Content">
    {{ content }}
  </main>

  <footer>
    <span>{{ site.title | escape }}</b> © 2019 - {{ site.time | date: '%Y' }}</span>
    <br>
    <span>
      <span>A member of </span>
      <a target="blank" href="https://512kb.club">
        <span>512KB Club</span>
      </a>
    </span>
  </footer>

</body>

</html>