---
layout: default
---
<style>
    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>

{% assign posts = site.posts %}
{% if paginator.total_pages >= 1 %}
{% assign posts = paginator.posts %}
{% endif %}

{%- if page.title -%}
<h1>{{ page.title }}</h1>
{%- endif -%}

{%- for post in posts -%}
<div style="padding-bottom: 2rem;">
    <a class="title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <div>{{ post.date | date: "%b %-d, %Y" }}</div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div style="display:flex; justify-content: space-between;">
    {% if paginator.previous_page %}
    <a href="{{paginator.previous_page_path}}" style="padding: 0.75rem; border: 1px solid;">New Posts</a>
    {% else %}
    <a style="visibility: none;"></a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{paginator.next_page_path}}" style="padding: 0.75rem; border: 1px solid;">Older Posts</a>
    {% endif %}
</div>
{% endif %}