---
layout: default
---
<style>
  code {
    background-color: white;
    border: 1px solid;
    color: black;
    padding: 0.1rem 0.3rem;
    tab-size: 4;
  }

  pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    color: black;
    background-color: white;
    border: 1px solid;
  }

  /* Fix embedded code within pre */
  pre code {
    border: none;
    color: black;
    background: none;
    margin: 0;
    padding: 0;
  }
</style>
<h1>{{ page.title | escape }}</h1>
<article style="overflow: auto;">
  <div style="border-inline-start: 4px solid; padding-left: 1rem;">
    <div>
      Published:
      <time>
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      | Last Edited:
      <time>
        {{ page.last_modified_at | date: "%b %-d, %Y" }}
      </time>
    </div>
    <div>
      Category: <a href="/categories/{{ page.category }}">{{ page.category }}</a>
      {%- if page.tags.size > 0 -%}
      <span> |</span> Tags:
        <span>
        {%- for tag in page.tags -%}
          <a href="/tags/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
        </span>
      {% endif %}
    </div>

  </div>
  {% if page.toc %}
  <style>
    .toc-container {
      position: fixed;
      top: 4rem;
      right: max(0px, calc(50% - 45rem));
      width: 20rem;
      display: none;
    }

    @media (min-width: 640px) {
      .toc-container {
        display: block;
      }
    }
  </style>
  <div class="toc-container">
    <h2>Table of Contents</h2>
    {% toc %}
  </div>
  {% endif %}
  {{ content }}

  {% if page.next.url %}
    <div>Next Post: <a href="{{page.next.url}}">{{page.next.title}}</a></div>
  {% endif %}
  {% if page.previous.url %}
    <div>Previous Post: <a href="{{page.previous.url}}">{{page.previous.title}}</a></div>
  {% endif %}
</article>