---
layout: default
---
<article class="prose prose-gray dark:prose-invert w-full max-w-none px-4 
  prose-a:text-red-800 dark:prose-a:text-blue-200 hover:prose-a:text-black dark:hover:prose-a:text-white
  prose-h1:text-orange-400">
  <header class="">
    <h1>{{ page.title | escape }}</h1>
    <div class="flex">
      <span class="pr-2">Published:</span>
      <time class="">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      <span class="px-2">|</span>
      <span class="pr-2">Last Edited:</span>
      <time class="">
        {{ page.last_modified_at | date: "%b %-d, %Y" }}
      </time>
    </div>
    <span>
      Author: {{ page.author | default: site.author.name | escape }}
    </span>
  </header>

  <div class="">
    <div class="db f5 lh-copy">
      {{ content | toc }}
    </div>

    <div class="not-prose flex items-center justify-center px-4 my-10">
      {% if page.previous.url %}
      <a href="{{page.previous.url}}"
        class="text-black dark:bg-white hover:bg-black hover:text-white border-2 inline-flex hover:no-underline p-3 mx-3 border-gray-700 dark:border-gray-300">
        <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1">Previous</span>
      </a>
      {% endif %}
      {% if page.next.url %}
      <a href="{{page.next.url}}"
        class="text-black dark:bg-white hover:bg-black hover:text-white border-2 inline-flex hover:no-underline p-3 mx-3 border-gray-700 dark:border-gray-300">
        <span class="pr1">Next</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </a>
      {% endif %}
    </div>

    <div id="commento"></div>
    <script src="https://commento.jasonthai.me/js/commento.js"></script>
  </div>
</article>